*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.areaPrincipal{
    background-image: url(https://img.freepik.com/fotos-premium/fondo-pared-ladrillo-grunge-luz-neon-purpura-render-3d_334678-444.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 1.0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;

}
#encabezado{
    background: black;
    height: 240px;
    text-align: center;
    background-image: url(https://static.wixstatic.com/media/b62059_aeabb5b9c35443509a3facc545d90b37~mv2.jpg/v1/fill/w_500,h_500,al_c,q_80,enc_auto/b62059_aeabb5b9c35443509a3facc545d90b37~mv2.jpg);
    background-repeat: no-repeat;
    background-size: 180px 180px;

}
#menu{
    height: 40px;
    position: relative;
    top: 200px;
    font-family: Arial, Helvetica, sans-serif;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mediumslateblue;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover{
    background-color: violet;
}
#datos{
    width: 80%;
    background-color: blueviolet;
    height: 600px;
    margin: auto;
    opacity: 1;
    color: black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Pie de pagina*/
.piePagina{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 35px;
}
.piePagina p{
    color: white;
}
/*Cuerpo*/
.areaPrincipal p{
    text-align: center;
    color: black;
}
.areaPrincipal h1{
    padding: 30px;
    color: aqua;
    text-align: center;
}
/*Menu desplegable*/
.nav > li{
    float: left;
}
.nav li ul{ 
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -140px;
    top: 0;
}
